* {
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-touch-callout: none;  
	/* prevent webkit from resizing text to fit */              
	-webkit-text-size-adjust: none;  
	/* prevent copy paste, to allow, change 'none' to 'text' */           
	-webkit-user-select: none;                  
	background: #ffffff;
	/*font-family: 'HelveticaNeue-Light', 'HelveticaNeue', 'Roboto', Helvetica, Arial, sans-serif;*/
	font-size: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Work Sans', sans-serif;
}


#mainPage{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
}

#navbarPage{
	background-color: rgb(17, 133, 241);
	text-align: center;
	height: 80px;
	padding-top: 40px;
	color: #ffffff;
	font-size: 26px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	#mainPage{
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	#navbarPage{
		background-color: rgb(17, 133, 241);
		text-align: center;
		height: 40px;
		padding-top: 10px;
		color: #ffffff;
		font-size: 12px;
	}
}
@media only screen and (min-device-width : 568px) and (max-device-width : 767px)  {
	#mainPage{
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	#navbarPage{
		background-color: rgb(17, 133, 241);
		text-align: center;
		height: 40px;
		padding-top: 10px;
		color: #ffffff;
		font-size: 12px;
	}
}