.styleTableLwayers{
	text-align: !important center;
}

.titleSuits{
	margin: auto;
	width: 80px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.titleSuits{
		margin: auto;
		width: 80px;
		font-size: 22px;
	}
}

@media only screen and (min-device-width : 568px) and (max-device-width : 767px)  {
	.titleSuits{
		margin: auto;
		width: 80px;
		font-size: 22px;
	}
}
